<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webShopBack.dao.ClassifyDao">
    <!--父类目-->
    <resultMap id="classify" type="Classify">
       <id property="classifyId" column="classify_id"/>
       <result property="classifyName" column="classify_name"/>
       <result property="status" column="status"/>
    </resultMap>


    <!--查询所有的主类目-->
    <select id="findAllByClassify" resultMap="classify">
        SELECT classify_id,classify_name,status
         from classify where status = TRUE ORDER BY classify_id
    </select>

    <!--增加父类目-->
    <insert id="addMainClassify" parameterType="Classify" >
        INSERT INTO classify(classify_name, status)
                VALUES (#{classifyName},#{status})
    </insert>

    <select id="findClassifyByMainName" resultType="Integer">
        SELECT classify_id as classifId FROM classify
        WHERE classify_name = #{mainClassifyName}
    </select>


</mapper>