<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webShopBack.dao.ProductionDao">
    <!--商品类-->
   <resultMap id="production" type="Production">
       <id property="productionId" column="production_id"/>
       <result property="mainClassify" column="main_classify"/>
       <result property="subClassify" column="sub_classify"/>
       <result property="productionName" column="production_name"/>
       <result property="title" column="title"/>
       <result property="mainImgUrl" column="main_img_url"/>
       <result property="oldPrice" column="old_price"/>
       <result property="newPrice" column="new_price"/>
       <result property="stack" column="stack"/>
       <result property="status" column="status"/>
       <result property="createTime" column="create_time"/>
       <result property="updateTime" column="update_time"/>
   </resultMap>

    <!--动态查询-->
    <select id="findProduction" resultType="Map">
       SELECT production_id as productionId,s.sub_classify_name as subClassifyName,c.classify_name as mainClassifyName,
        production_name as productionName,title,main_img_url as mainImgUrl,old_price as oldPrice,new_price as newPrice,
        stack,p.status,create_time as createTime,update_time as updateTime
       FROM production p,sub_classify s,classify c
           <where>
                   p.sub_classify = s.sub_classify_id and s.main_classify_id = c.classify_id
               <if test="productionId != null and productionId != 0">
                   and production_id = #{productionId}
               </if>
               <if test="mainClassify != null and mainClassify != 0">
                  and main_classify = #{mainClassify}
               </if>
               <if test="subClassify != null and subClassify != 0">
                   and sub_classify = #{subClassify}
               </if>
               <if test="productionName != null and productionName != ''">
                  and production_name = #{productionName}
               </if>
               <if test="title != null and title != ''">
                  and title = #{title}
               </if>
               <if test="oldPrice != null ">
                   and old_price = #{oldPrice}
               </if>
               <if test="newPrice != null">
                   and new_price = #{newPrice}
               </if>
               <if test="stack != null and stack != 0">
                   and stack = #{stack}
               </if>
               <if test="status != null">
                   and status = #{status}
               </if>
               <if test="createTime != null">
                   and create_time = #{createTime}
               </if>
               <if test="updateTime != null">
                   and update_time = #{updateTime}
               </if>
           </where>
       ORDER BY production_id
    </select>

    <!--添加商品-->
    <insert id="addProduction" parameterType="Production" useGeneratedKeys="true" keyProperty="productionId">
        INSERT INTO production(main_classify,sub_classify,production_name,title,main_img_url,old_price,new_price,
        stack,status,create_time,update_time)
                VALUES (#{classify},#{productionName},#{title},#{mainImgUrl},
                #{oldPrice},#{newPrice},#{stack},#{status},#{createTime},#{updateTime})
    </insert>

    <!--编辑商品-->
    <update id="editProduction" parameterType="Map" >
        UPDATE production
        <trim prefix="set" suffixOverrides=",">
          <if test="productionName != null and productionName != ''">
              production_name = #{productionName},
          </if>
          <if test="title != null and title != ''">
              title = #{title},
          </if>
          <if test="mainImgUrl != null and mainImgUrl != ''">
              main_img_url = #{mainImgUrl},
          </if>
          <if test="stack != null">
              stack = #{stack},
          </if>
          <if test="oldPrice != null">
              old_price = #{oldPrice},
          </if>
          <if test="newPrice != null">
              new_price = #{newPrice},
          </if>
          <if test="status != null">
              status = #{status},
          </if>
          <if test="mainClassifyName != null and mainClassifyName !=''">
              main_classify = (select classify_id from classify where classify_name = #{mainClassifyName}),
          </if>
          <if test="subClassifyName != null and subClassifyName != ''">
              sub_classify = (select sub_classify_id from sub_classify where sub_classify_name = #{subClassifyName}),
          </if>
        </trim>
        WHERE production_id = #{productionId}
    </update>

    <!--下架商品-->
    <update id="deleteProduction">
        UPDATE production SET status = #{newStatus} WHERE production_id = #{productionId}
    </update>

    <!--通过id查找商品-->
    <select id="findProductionById" resultType="Production" resultMap="production">
         SELECT * From production WHERE production_id = #{productionId}
    </select>
</mapper>