<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webshopback.dao.ProductionDao">
    <!--商品类-->
   <resultMap id="production" type="Production">
       <id property="productionId" column="production_id"/>
       <result property="classify" column="classify"/>
       <result property="productionName" column="production_name"/>
       <result property="title" column="title"/>
       <result property="mainImgUrl" column="main_imgurl"/>
       <result property="oldPrice" column="old_price"/>
       <result property="newPrice" column="new_price"/>
       <result property="stack" column="stack"/>
       <result property="status" column="status"/>
       <result property="createTime" column="create_time"/>
       <result property="updateTime" column="update_time"/>
   </resultMap>

    <!--动态查询-->
    <select id="findProduction" resultType="Map">
       SELECT production_id as productionId,s.sub_classify_name as subClassifyName,c.classify_name as classifyName,
        production_name as productionName,title,main_imgurl as mainImgUrl,old_price as orlPrice,new_price as newPrice,
        stack,p.status,create_time as createTime,update_time as updateTime
       FROM production p,sub_classify s,classify c
           <where>
                   p.classify = s.id and s.main_classify_id = c.id
               <if test="productionId != null and productionId != 0">
                   and production_id = #{productionId}
               </if>
               <if test="classify != null and classify != 0">
                  and classify = #{classify}
               </if>
               <if test="productionName != null and productionName != ''">
                  and production_name = #{productionName}
               </if>
               <if test="title != null and title != ''">
                  and title = #{title}
               </if>
               <if test="oldPrice != null ">
                   and old_price = #{oldPrice}
               </if>
               <if test="newPrice != null">
                   and new_price = #{newPrice}
               </if>
               <if test="stack != null and stack != 0">
                   and stack = #{stack}
               </if>
               <if test="status != null">
                   and status = #{status}
               </if>
               <if test="createTime != null">
                   and create_time = #{createTime}
               </if>
               <if test="updateTime != null">
                   and update_time = #{updateTime}
               </if>
           </where>
       ORDER BY production_id
    </select>

    <!--添加商品-->
    <insert id="addProduction" parameterType="Production" useGeneratedKeys="true" keyProperty="productionId">
        INSERT INTO production(classify,production_name,title,main_imgurl,old_price,new_price,
        stack,status,create_time,update_time)
                VALUES (#{classify},#{productionName},#{title},#{mainImgUrl},
                #{oldPrice},#{newPrice},#{stack},#{status},#{createTime},#{updateTime})
    </insert>

    <!--编辑商品-->
    <update id="editProduction" parameterType="Production" >
        UPDATE production
        <trim prefix="set" suffixOverrides=",">
          <if test="productionName != null and productionName != ''">
              production_name = #{productionName},
          </if>
          <if test="title != null and title != ''">
              title = #{title},
          </if>
          <if test="mainImgUrl != null and mainImgUrl != ''">
              mainImgUrl = #{main_imgurl},
          </if>
          <if test="stack != null">
              stack = #{stack},
          </if>
          <if test="oldPrice != null">
              old_price = #{oldPrice},
          </if>
          <if test="newPrice != null">
              new_price = #{newPrice},
          </if>
          <if test="status != null">
              status = #{status},
          </if>
          <if test="classify != null and classify != ''">
              classify = #{classify},
          </if>
        </trim>
        WHERE production_id = #{productionId}
    </update>
</mapper>