<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webShopBack.dao.RoleDao">

    <resultMap id="roleResultType" type="String">
        <result property="roleName" column="role_name"/>
        <result property="roleDescription" column="role_description"/>
        <result property="available" column="available"/>
    </resultMap>

    <resultMap id="roleMap" type="Role">
        <id property="roleId" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleDescription" column="role_description"/>
        <result property="available" column="available"/>
    </resultMap>

    <resultMap id="rolePermission" type="RolePermission">
        <id property="id" column="id"/>
        <result property="roleId" column="role_id"/>
        <result property="permissionId" column="permission_id"/>
    </resultMap>

    <!--根据用户名查询角色-->
    <select id="findRoleByUserName" resultType="String" resultMap="roleResultType">
        SELECT role_name
         FROM auth_user_role  aur LEFT JOIN
             (SELECT * FROM user_role WHERE available = 1) ur
             ON aur.role_id = ur.id
        WHERE user_id = (
            SELECT user_id FROM user WHERE user_name = #{userName}
        )
    </select>

    <!--根据角色名查询角色-->
    <select id="findRoleByRoleName" resultType="Role" resultMap="roleMap">
        SELECT id,role_name,role_description,available
          FROM user_role WHERE role_name = #{roleName}
    </select>

    <!--添加角色-->
    <insert id="addRole" parameterType="Role" useGeneratedKeys="true">
        INSERT INTO user_role(role_name, role_description,available)
                VALUES (#{roleName},#{roleDescription},#{available})
    </insert>

    <!--返回所有的角色-->
    <select id="getAllRole" resultMap="roleMap" resultType="Role">
        SELECT * FROM user_role
    </select>

    <!--根据角色编号查询角色-->
    <select id="findRoleByRoleId" resultMap="roleMap" resultType="Role">
        SELECT * FROM user_role WHERE id = #{roleId} AND available = 1
    </select>

    <!--角色添加权限-->
    <insert id="addPermission" parameterType="rolePermission">
        INSERT INTO auth_role_permission(role_id, permission_id)
                VALUES (#{roleId},#{permissionId})
    </insert>

    <!--禁用/启用角色-->
    <update id="lockedRole" parameterType="Role">
        UPDATE user_role SET available = #{available}
          WHERE id = #{roleId}
    </update>

</mapper>